.vertical-timeline::before {
  background: #8e58da;
}

.vertical-timeline-element-content {
  background: #121212;
  color: #e0e0e0;
}

.vertical-timeline-element-content::before {
  border-right: 7px solid #121212;
}
