/* Footer.css */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #262626; /* bg-uiux-4 */
  color: #e0e0e0; /* text-uiux-2 */
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #e0e0e0; /* text-uiux-2 */
}

.social-links a:hover {
  text-decoration: underline;
}

.carousel-container {
  height: 300px;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #121212;
  border-radius: 12px; /* Increase border radius for a softer look */
  padding: 20px; /* Increase padding for better spacing */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation */
  height: 150px; /* Ensure enough height for content */
  width: 500px;
}

.testimonial:hover {
  transform: scale(1.05); /* Slight enlargement on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.testimonial-photo {
  width: 80px; /* Larger photo */
  height: 80px; /* Larger photo */
  border-radius: 100%;
  margin-right: 20px; /* More spacing between photo and text */
  border: 3px solid #8e58da; /* Accent border */
}

.testimonial-content {
  display: flex;
  flex-direction: column;
}

.testimonial-comment {
  font-style: italic;
  margin: 0 0 10px 0; /* Add spacing between comment and name */
  color: #e0e0e0; /* text-uiux-2 */
  font-size: 16px; /* Slightly larger text */
}

.testimonial-name {
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #e0e0e0; /* text-uiux-5 */
  font-size: 18px; /* Slightly larger name */
}

.testimonial-position {
  margin: 0;
  color: #9f96d9; /* text-uiux-3 */
  font-size: 14px; /* Subtle font size for the position */
}
