/* Contenedor principal para educación y certificaciones */
.education-certifications-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 20px; /* Espaciado entre las columnas */
  margin: 0 10px; /* Reduce los márgenes laterales */
}

/* Sección de Educación */
.education-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-light);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Añade padding interno */
}

/* Sección de Certificaciones */
.certifications-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  background-color: var(--bg-light);
  border-radius: 12px;
  padding: 10px; /* Añade padding interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certifications-items h3 {
  grid-column: 1 / -1; /* Hace que el título ocupe todo el ancho */
  text-align: center;
  margin-bottom: 15px;
}

/* Tarjetas de Educación y Certificación */
.education-item,
.certification-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #252525;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-header,
.certification-header {
  display: flex;
  align-items: center;
}

.institution-logo,
.certification-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

.education-details p,
.certification-details p {
  margin: 5px 0;
}

.view-cv-button-container {
  text-align: center;
  margin-top: 30px;
}

.view-cv-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-dark); /* Color del texto */
  background-color: #a8ee95; /* Fondo verde */
  color: #252525;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-cv-button:hover {
  background-color: #9f96d9; /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.05); /* Agrega un efecto de zoom */
  color: #e0e0e0;
}
