html,
body {
  background-color: #2b3040;
  color: #fff;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* Background Colors */
.bg-uiux-1 {
  background-color: #5a24a6;
}
.bg-uiux-2 {
  background-color: #cbc5d9;
}
.bg-uiux-3 {
  background-color: #9f96d9;
}
.bg-uiux-4 {
  background-color: #2b3040;
}
.bg-uiux-5 {
  background-color: #bdf2ae;
}

/* Text Colors */
.text-uiux-1 {
  color: #5a24a6;
}
.text-uiux-2 {
  color: #cbc5d9;
}
.text-uiux-3 {
  color: #9f96d9;
}
.text-uiux-4 {
  color: #2b3040;
}
.text-uiux-5 {
  color: #bdf2ae;
}

/* Border Colors */
.border-uiux-1 {
  border-color: #5a24a6;
}
.border-uiux-2 {
  border-color: #cbc5d9;
}
.border-uiux-3 {
  border-color: #9f96d9;
}
.border-uiux-4 {
  border-color: #2b3040;
}
.border-uiux-5 {
  border-color: #bdf2ae;
}
